@model MVCTraining.Models.AboutModel
@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h2>@Model.Name</h2>


    <div>Location: @Model.Location</div>


    <p>Use this area to provide additional information.</p>*@

<div class="container" tabindex="0" style="margin-top:20px;">
    <div class="col-md-4" tabindex="0">
        <ul>
            <li>Something here</li>
            <li>Text</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3 tabindex="0" role="main">Navigation</h3>
        <span tabindex="0">Some content goes here!</span>
        <p tabindex="0">Added more text</p>
    </div>
    <div class="col-md-4" tabindex="0">
        <span>This text is present to simulate the announcements section from the Social webSite</span>
    </div>


</div>