
@{@model IEnumerable<MVCTraining.Models.RestaurantViewModel>
    ViewBag.Title = "Home Page";
}

<br />
<form method="GET" action="@Url.Action("Index")" data-odf-ajax="true" data-otf-target="#restaurantList">

    <input type="search" name="searchTerm" />
    <input type="submit" value="Search by name" />
</form>

@*@using (Ajax.BeginForm(
                                                        new AjaxOptions
                                                        {
                                                            HttpMethod = "get",
                                                            InsertionMode = InsertionMode.Replace,
                                                            UpdateTargetId = "restaurantList"
                                                        }))
    {
        <input type="search" name="searchTerm" />
        <input type="submit" value="Search by name" />
    }*@

@Html.Partial("_Restaurants", Model)


