@model IEnumerable<MVCTraining.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
}

<h2>The Latest Reviews</h2>

    We are showing the last @Model.Count() reviews
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @foreach (var item in Model)
    {
        @Html.Partial("_Review", item)

    }