@model MVCTraining.Models.Restaurant

@Html.Partial("_Reviews", Model.Reviews)


<h2>Reviews for @Model.Name</h2>

<p>@Html.ActionLink("Create New Review", "Create", new { @restaurantId = Model.Id })</p>

